extends ../layout

block content
    h2 #{title}  
      .btn-group.pull-right
            button.btn.btn-default(type='button', onclick="location.href='/roimodels/new';") New ROI Model    

    - each roimodel, i in roimodels
        .panel.panel-primary
          .panel-heading
            h3.panel-title  
              = roimodel.name
          .panel-body      
            p #{roimodel.description}
            table.table.table-striped
              thead
                tr
                  th #
                  th Name
                  th Quantity
                  th Cost
                  th Reduction%  Achieved with CDSS
              tbody
                tr
                  th(scope='row') 1
                    td
                      p #{roimodel.valueAName}
                    td
                      p #{roimodel.valueAQty}
                    td
                      p #{roimodel.valueACost}
                    td
                      p #{roimodel.valueACdssReduction}
                tr
                  th(scope='row') 2
                    td
                      p #{roimodel.valueBName}
                    td
                      p #{roimodel.valueBQty}
                    td
                      p #{roimodel.valueBCost}
                    td
                      p #{roimodel.valueBCdssReduction}

                tr
                  th(scope='row') 3
                    td
                      p #{roimodel.valueCName}
                    td
                      p #{roimodel.valueCQty}
                    td
                      p #{roimodel.valueCCost}
                    td
                      p #{roimodel.valueCCdssReduction}

                tr
                  th(scope='row') 4
                    td
                      p #{roimodel.valueDName}
                    td
                      p #{roimodel.valueDQty}
                    td
                      p #{roimodel.valueDCost}
                    td
                      p #{roimodel.valueDCdssReduction}

                tr
                  th(scope='row') 5
                    td
                      p #{roimodel.valueEName}
                    td
                      p #{roimodel.valueEQty}
                    td
                      p #{roimodel.valueECost}
                    td
                      p #{roimodel.valueECdssReduction}

                tr
                  th(scope='row') 6
                    td
                      p #{roimodel.valueFName}
                    td
                      p #{roimodel.valueFQty}
                    td
                      p #{roimodel.valueFCost}
                    td
                      p #{roimodel.valueFCdssReduction}
                tr
                  th(scope='row') 7
                    td
                      p #{roimodel.valueGName}
                    td
                      p #{roimodel.valueGQty}
                    td
                      p #{roimodel.valueGCost}
                    td
                      p #{roimodel.valueGCdssReduction}
            label.control-label.col-sm-2(for='creationDate') Creation Date:
            .col-sm-10
            p #{roimodel.creationDate}
            label.control-label.col-sm-2(for='creationDate') Last Updated Date:
            .col-sm-10
            p #{roimodel.lastUpdatedDate}
          .panel-footer                
            .btn-group(role='group', aria-label='...')
              button.btn.btn-default(type='button', onclick="location.href='/roimodels/#{roimodel._id}';") Detail
              button.btn.btn-default(type='button', onclick="location.href='/roimodels/#{roimodel._id}/edit';") Edit
            .btn-group.pull-right
              form(action='/roimodels/#{roimodel._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                input(type='hidden',value='DELETE',name='_method')
                button.btn.btn-danger(type='submit') Delete
