extends ../layout

block content
    h2 Edit Opportunity
        
    form#formUpdateOpportunity.form-horizontal(action='/opportunities/#{opportunity._id}/edit', method='post', name='updateopportunity', novalidate, enctype='application/x-www-form-urlencoded')
      .panel.panel-primary
        .panel-heading  
          h3.panel-title Opportunity ID: #{opportunity._id}
        .panel-body    
          .form-group
            label.control-label.col-sm-2(for='name') Opportunity Name:
            .col-sm-10
              input#name.form-control(type='text', Value='#{opportunity.name}', Name='name', required, data-required-msg='Opportunity Name is required')
          .form-group
            label.control-label.col-sm-2(for='description') Description:
            .col-sm-10
              input#description.form-control(Value='#{opportunity.description}', Name='description', required, data-required-msg='A description is required')
          .form-group
            label.control-label.col-sm-2(for='name') Organisation:
            .col-sm-10
              input#name.form-control(type='text', Value='#{opportunity.name}', Name='name', required, data-required-msg='Please select an organisation')
          .form-group
            label.control-label.col-sm-2(for='primarycontactname') Primary Conact:
            .col-sm-10
              input#primarycontactname.form-control(type='text', Value='#{opportunity.primarycontactname}', Name='primarycontactname', required, data-required-msg='Please select a primary contact')  
        .panel-footer
          .btn-group
            form(action='/opportunities/#{opportunity._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
              input(type='hidden',value='PUT',name='_method')
              button.btn.btn-default(type='submit') Update
          .btn-group.pull-right
            form(action='/opportunities/#{opportunity._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
              input(type='hidden',value='DELETE',name='_method')
              button.btn.btn-danger(type='submit') Delete
              
    script
        $('#formUpdateOpportunity').kendoValidator({
        });
