extends ../layout

block content
    h2 #{title}   
      .btn-group.pull-right
            button.btn.btn-default(type='button', onclick="location.href='/opportunities/new';") New Opportunity      
    
    - each opportunity, i in opportunities
        .panel.panel-primary
          .panel-heading
            h3.panel-title  
              opportunity.oppname
          .panel-body            
            label.control-label.col-sm-2(for='text') Opportunity Description:
            .col-sm-10
            p #{opportunity.description}
            label.control-label.col-sm-2(for='description') Organisation Name:
            .col-sm-10
            p #{opportunity.orgname}
            label.control-label.col-sm-2(for='text') Primary Contact:
            .col-sm-10
            p #{opportunity.primarycontactname}
            label.control-label.col-sm-2(for='text') Opportunity ID:
            .col-sm-10
            p #{opportunity._id}
          .panel-footer                
            .btn-group(role='group', aria-label='...')
              button.btn.btn-default(type='button', onclick="location.href='/opportunities/#{opportunity._id}';") Detail
              button.btn.btn-default(type='button', onclick="location.href='/opportunities/#{opportunity._id}/edit';") Edit
            .btn-group.pull-right
              form(action='/opportunities/#{opportunity._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                input(type='hidden',value='DELETE',name='_method')
                button.btn.btn-danger(type='submit') Delete
