extends ../layout

block content
    h2 Opportunity Details

    .panel.panel-primary
      .panel-heading  
        h3.panel-title #{opportunity.name}
      .panel-body    
        label.control-label.col-sm-2 Description:
        .col-sm-10
        p #{opportunity.description}
        label.control-label.col-sm-2 name:
        .col-sm-10
        p #{opportunity.name}
        label.control-label.col-sm-2 Primary Contact:
        .col-sm-10
        p #{opportunity.primarycontactname}
        label.control-label.col-sm-2 Opportunity ID:
        .col-sm-10
        p #{opportunity._id}
      .panel-footer
        .btn-group(role='group', aria-label='...')
          button.btn.btn-default(type='button', onclick="location.href='/opportunities';") Show All
          button.btn.btn-default(type='button', onclick="location.href='/opportunities/#{opportunity._id}/edit';") Edit
        .btn-group.pull-right
          form(action='/opportunities/#{opportunity._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
            input(type='hidden',value='DELETE',name='_method')
            button.btn.btn-danger(type='submit') Delete
