extends ../layout

block content
    h1 opportunity Information
    
    p Opportunity Name: #{opportunity.oppname}
    p Description: #{opportunity.description}
    p Organsiation Name: #{opportunity.orgname}
    p Primary Contact: #{opportunity.primarycontactname}
    p Unique ID: #{opportunity._id}
