extends ../layout

block content
    h1 Contact Information
    
    p First Name: #{contact.fname}
    p Last Name: #{contact.lname}
    p Email Address: #{contact.email}
    p Telephone Number: #{contact.phone}
    p Organisation: #{contact.organisation}
    p Unique ID: #{contact._id}
