extends ../layout

block content
    h2 Organisations Summary   
      .btn-group.pull-right
            button.btn.btn-default(type='button', onclick="location.href='/organisations/new';") New Organisation    

    - each organisation, i in organisations
        .panel.panel-primary
          .panel-heading
            h3.panel-title  
              = organisation.name
          .panel-body      
            label.control-label.col-sm-2(for='email') Address:
            .col-sm-10
            p #{organisation.addressLine1}, #{organisation.addressLine2}
            label.control-label.col-sm-2(for='email') City:
            .col-sm-10
            p #{organisation.city}
            label.control-label.col-sm-2(for='email') State:
            .col-sm-10
            p #{organisation.zip}
            label.control-label.col-sm-2(for='email') Post Code:
            .col-sm-10
            p #{organisation.zip}
          .panel-footer                
            .btn-group(role='group', aria-label='...')
              button.btn.btn-default(type='button', onclick="location.href='/organisations/#{organisation._id}';") Detail
              button.btn.btn-default(type='button', onclick="location.href='/organisations/#{organisation._id}/edit';") Edit
            .btn-group.pull-right
              form(action='/organisations/#{organisation._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                input(type='hidden',value='DELETE',name='_method')
                button.btn.btn-danger(type='submit') Delete
