extends ../layout

block content
    h1 organisation Information
    
    p Organsiation Name: #{organisation.orgname}
    p Address Line 1: #{organisation.addressLine1}
    p Address Line 2: #{organisation.addressLine2}
    p City: #{organisation.city}
    p State: #{organisation.state}
    p Zip: #{organisation.zip}
    p Unique ID: #{organisation._id}
